asgiref==3.2.7
beautifulsoup4==4.9.0
blinker==1.4
certifi==2020.4.5.1
click==7.1.2
Django==3.0.5
django-cors-headers==3.4.0
django-mongoengine==0.4.1
django-rest-authtoken==1.2.4
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.11.0
drf-yasg==1.17.1
emoji==0.5.4
enum34==1.1.10
fasttext==0.9.2
idna==2.9
inflection==0.4.0
itypes==1.2.0
Jinja2==2.11.2
joblib==0.14.1
mysqlclient==1.4.6
nltk==3.5
numpy==1.18.4
packaging==20.3
pandas==1.0.4
polls==0.1
pybind11==2.5.0
pyparsing==2.4.7
pytz==2019.3
PyYAML==5.3.1
regex==2020.5.7
requests==2.23.0
rest-condition==1.0.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
simplejson==3.17.0
soupsieve==2.0
sqlparse==0.3.1
summa==1.2.0
tqdm==4.46.0
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.9
vaderSentiment==3.3.1
xlrd==1.2.0
